@import "tailwindcss";

@theme {
  --color-primary-50: #eff3f5;
  --color-primary-100: #b4ddf7;
  --color-primary-200: #81c6f1;
  --color-primary-300: #4dafeb;
  --color-primary-400: #1997e6;
  --color-primary-500: #1475b2;
  --color-primary-600: #0e537e;
  --color-primary-700: #08314b;
  --color-primary-800: #030f17;
}
